.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }
  .button {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  