.edit-button button {
    background-color: #9a4adf;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.editEvent {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}